.cartContainer {
    display: flex;
    justify-content: space-between;
    width: 50px;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
}

.itemCount{
    font-size: 1.2rem;
}

.cartContainer:hover{
    cursor: pointer;
}